@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --Green: #c5f82a;
    --White: #ffffff;
    --Grey-700: #333333;
    --Grey-800: #1f1f1f;
    --Grey-900: #141414;
}

body {
    background-color: var(--Grey-900);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main#card {
    background-color: var(--Grey-800);
    width: 385px;
    height: 611px;
    border-radius: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    transition: .5s ease-in-out;
}

section#info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

section#info > img {
    height: 87px;
    border-radius: 50%;
    margin-bottom: 32px;
}

section#info > h1 {
    color: var(--White);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

p#location {
    color: var(--Green);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;
}

section#info > p#bio {
    color: var(--White);
    font-size: 14px;
}

section#links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: .5s ease-in-out;
}

section#links > .socials {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--Grey-700);
    color: var(--White);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    width: 304px;
    height: 45px;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

section#links > .socials:hover {
    background-color: var(--Green);
    color: var(--Grey-700);
}

footer {
    background-color: var(--Grey-900);
    color: var(--Grey-900);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    transition: .5s ease-in-out;
}

footer:hover {
    background-color: var(--White);
    color: var(--Grey-700);
}

footer a {
    color: var(--Grey-900);
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    main#card {
    width: 328px;
    height: 580px;
    padding: 25px 0;
    }

    section#links {
    margin-top: 24px;
    }

    section#links > .socials {
    width: 280px;
    }
}